name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Thank you for your feedback! I''ll review this as soon as possible.'
        pr-message: 'Thank you for your interest in contributing! I''ll review your proposed changes soon.'
